* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(29, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(228, 233, 238);
    background-image:img;
}

.Profilecard{
   
    width: 400px;
    padding: 20px;
   
    
    border: 3px solid #0cf;
    border-radius :50px  ; 
    background: transparent;
    text-align: center; 
    box-shadow: 0 0 10px #0cf(247, 31, 31, 0.1);
    
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #0cf;
    margin: 20px;
    overflow: hidden;
}

.information{
    margin: 10px;
   

}

.name{
   
  margin: 10px;
  padding: 10px;
  color: white;
   
}
h2{
    margin: 5px;
    padding: 5px;
}



.discription{
   line-height: 1.8;
    
    
}
button{
    
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 15px;
    border: 3px solid #0cf;
    border-radius: 5PX;
    font-size: 18px;
    align-items: center;   
    
    background-color: transparent;
    color: #0cf;
    transition: .3s ;
}
button:hover{
    background-color:#0cf ;
    color:  rgb(29, 26, 26);
    box-shadow: 0 0 10px #0cf;
}

.icons{
  
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 600px;
    width: 100px;

}
i{
   
    cursor: pointer;
    padding: 5px;
    margin: auto;
    border: 3px solid #0cf;
    border-radius: 50%;
    font-size: 40px;
   
    color: #0cf;
   background-color:  rgb(29, 26, 26);
  
   transition: .5s;
}

i:hover{
   color:  rgb(29, 26, 26);
   background-color: #0cf;
    box-shadow: 0 0 10px #0cf;
}